#webcam-video
{
    background-color: #000;
}
#sketchpad, #loading-screen, .scale-btns, .rotate-btns, .take-photo-btns, .brush-btns, #webcam-video
{
    display: none
}

#loading-screen
{
    position: absolute;
    opacity: 0.5;
    background-color: #000;
    color: #FFF;
    display:none;
}

#loading-screen i{
    font-size: 50px;
    margin: 43%;
}

.croppie-container
{
    padding: 0 !important;
}

.main-content.upload .userImage img
{
	width : auto
}

.main-content.upload .userImage #placeholder-img
{
	width : 100%
}


.btn-red:hover, .upload-config-btns:hover,.upload-config-btns:active { color: #fff; }

.brush-active{color:#ffcf40 !important;}

.btn-red:active { top: 3px; }

.btn-red.generic, .upload-config-btns.generic { 
	background-color: #d7113e; 
	font-size:18px; 
	margin-bottom:20px;
}
.btn-red.generic
{
	padding-left:inherit; 
}

.brush-btns input{color:#999;}

.save-config-btn
{
    margin-top:15px;
}

.brush-btn
{
    width:60px;
    max-width:60px; 
    height:50px;
    max-height: 50px;
    overflow:hidden;
}

@media (max-width: 640px) {
    .tools {  margin-bottom: 20px; }
    .btn-red.generic {padding-left:initial; padding-right:initial;}
}

.upload-config-btns
{
	color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    border: none;
    outline: none;
    font-size: 12px;
}

.config-eraser-icon-sm
{
    font-size:12px;
    margin:10px;
    padding:0 5px;
}

.config-eraser-icon-md
{
    font-size:18px;
    margin:7px;
    padding:0 5px;
}

.config-eraser-icon-lg
{
    font-size:28px;
    margin:1px;
    padding:0 5px;
}