@font-face { font-family: Gotham; src: url(../fonts/Gotham-Light.otf); font-weight: 300; }
@font-face { font-family: Gotham; src: url(../fonts/Gotham-Book.otf); font-weight: Normal; }
@font-face { font-family: Gotham; src: url(../fonts/Gotham-Medium.otf); font-weight: Medium; }
@font-face { font-family: Gotham; src: url(../fonts/Gotham-Bold.otf); font-weight: Bold; }
@font-face { font-family: Manhattan Darling; src: url(../fonts/ManhattanDarling.otf); font-weight: Normal; }

/*Global Classes*/
html {}
body {
    font: normal 14px/20px "Gotham", Arial, sans-serif;
    color: #000;
}
a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 0;  }
h1 { font: Normal 70px/82px 'Manhattan Darling', Arial, Sans-serif; color: #d7113e; text-align: center; }
h2 { font-size: 42px; }
h3 { font-size: 36px; }
h4 { font-size: 30px; }
h5 { font-size: 24px; }
h6 { font-size: 15px; line-height: 24px; }
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; /* ie 6/7 */ }
.border { border: 1px solid; }
.paddingL-0 { padding-left: 0; }
.paddingR-0 { padding-right: 0; }
.marginR-10 { margin-right: 10px; }
.marginR-0 { margin-right: 0; right: 0px!important; }
.btn-red {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 13px 10px 35px;
    position: relative;
    border: none;
    outline: none;
    font-size: 12px;
}
    .btn-red:hover { color: #fff; }
    .btn-red:active { top: 3px; }
    .btn-red.clear { background: #d7113e url(../images/ico-clear.png) 10px center no-repeat; margin-left: 15px; }
    .btn-red.erase { background: #d7113e url(../images/ico-erase.png) 10px center no-repeat; }
    .btn-red.upload { background: #d7113e url(../images/ico-uploadPhoto.png) 10px center no-repeat; }
    .btn-red.photo { background: #d7113e url(../images/ico-takePhoto.png) 12px center no-repeat; padding-left: 40px }
    
    .btn-red.clear, .btn-red.erase { font-size: 17px; }
    .btn-red.upload, .btn-red.photo { font-size: 18px; }

    .btn-red.large {
        padding: 10px 30px;
        background-color: #d7113e;
        font-size: 18px;
        font-weight: 300;
        display: block;
        margin: 0 auto;
    }

    .btn-red.small {
        padding: 10px 20px;
        background-color: #d7113e;
        font-size: 16px;
        font-weight: 300;
    }

    .btn-red.red {
        background-color: rgb(215, 17, 62);
        padding: 12px 15px 10px;
    }

.scrollable {
    overflow: hidden;
    position: relative;
}

/* Shadow Effect */
    .effect:before,
    .effect:after {
        content:"";
        position:absolute; 
        z-index:-1;
        opacity: .5;
        
        bottom:12px;
        left:5px;
        width:50%;
        height:20%;
        max-width:300px;
        -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
           -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
        -webkit-transform:rotate(-3deg);    
           -moz-transform:rotate(-3deg);   
            -ms-transform:rotate(-3deg);   
             -o-transform:rotate(-3deg);
                transform:rotate(-3deg);
    }

    .effect:after {
        right:5px; 
        left:auto;
        -webkit-transform:rotate(3deg);   
           -moz-transform:rotate(3deg);  
            -ms-transform:rotate(3deg);  
             -o-transform:rotate(3deg);
                transform:rotate(3deg);
    }

/*Header & Navigation*/
header { position: relative; }
header img { width: 100%; }
.navbar, .navbar-header { background: #48a9a8; }
.navbar {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    width: 100%;
    position: relative;
}
.navbar-default { border: none; }
.navbar-default .navbar-toggle { border: none; }
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover { background: none; }
.navbar-default .navbar-toggle .icon-bar { background: #ffffff; }
.navbar-default .navbar-toggle:active .icon-bar { background: #000; }
.navbar .navbar-collapse { text-align: center; border-top: 0; }
.navbar-default .navbar-nav > li > a { color: #000; text-shadow: none; text-transform: uppercase; font-size: 16px; }

.nav > li > a { padding: 15px; min-width: 123px;  width: auto; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active {
    background: url(../images/img-navbg-hover.png) center no-repeat;
    color: #fff;
}


/*Strip*/
.strip {
    background-color: #ededea;
    border-top: #343434 1px solid;
    border-bottom: #343434 1px solid;
    padding: 25px 0;
    text-align: center;
}
.strip h3 { color: #d7113e; }



/*Main Content*/
.main-content {
    background: url(../images/bg-blue.jpg) top center no-repeat;
    background-size: cover;
    clear: both;
    position: relative;
    z-index: 1;
}
.main-content .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-content.upload {}
.main-content.upload .userImage {
    background-color: #fff;
    padding: 15px 15px 60px 15px;
    margin-bottom: 20px;
    position: relative;
}
.main-content.upload .userImage .tip {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    padding: 20px 20px 15px 20px;
    top: 80px;
    right: -20px;
    background-color:rgba(215, 17, 62, 0.7);
    width: 12vw;
    /*display: none;*/
}
    /*.main-content.upload .userImage:hover .tip { display: block; }*/

/*.main-content.upload .userImage img { width: 100%; }*/
.main-content.upload .userImage #placeholder-img { width: 100%; }
.main-content.upload input[type="file"].upload-photo { display: none; }
.main-content.upload input[type="file"].upload-photo + label:active {}
.main-content.upload input[type="submit"] { font-weight: normal; }

.main-content.upload .hairColors {
    margin-top: 30px;
    height: 510px;
    margin-bottom: 50px;
    clear: both;
}
.main-content.upload .hairColors li {
    list-style: none;
    margin-bottom: 20px;
    min-height: 180px;
}
.main-content.upload .hairColors li img, 
.main-content.upload .hairColors li strong {
    display: block;
    text-align: center;
}
.main-content.upload .hairColors li img {
    width: 100%;
    margin: 0 auto;
    border: #fff 3px solid;
}
.main-content.upload .hairColors li strong {
    padding: 10px 0 0 0;
    font-weight: 300;
    color: #000;
}

.main-content.videos .video-list {
    margin-top: 30px;
    margin-bottom: 30px;
    /*height: 600px;*/
}
.main-content.videos .video-list .embed-responsive { margin-bottom:50px; }

.main-content.join .join-formContainer {
    font-weight: 300;
    font-size: 18px;
    background-color: #eae7e7;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.main-content.join .join-formContainer input[type="text"] {
    padding: 10px;
    color: #000;
    margin-bottom: 10px;
}
.main-content .userImage2 {
    background-color: #fff;
    padding: 15px 15px 15px 15px;
    position: relative;
    margin-bottom: 30px;
}
.main-content .userImage2 img { width: 100%; }
.main-content .userImage2 strong.userName {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: Normal;
    color: #d9264e;
    margin-top: 20px;
    display: block;
}
.main-content.thank-you .share { margin-bottom: 20px; }
.main-content.thank-you .share a {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    width: 66px;
    height: 66px;
    padding-top: 75px;
    margin-bottom: 20px;
}
.main-content.thank-you .share a.facebook { background: url(../images/ico-w-fb.png) top center no-repeat; }
.main-content.thank-you .share a.twitter { background: url(../images/ico-w-twitter.png) top center no-repeat; }

.main-content.gallery .gallery-list {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 600px;
}
.main-content.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-content.about-us .about-container {
    background: #e6e3d7 url(../images/bg-about-us.jpg) bottom center no-repeat;
    background-size: 100vw;
    margin: 0 0 30px 0;
    padding-bottom: 48vw;
}
.main-content.about-us .about-container p {
    color: #d7113e;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.5;
    font-size: 15px;
}

.main-content.about-us .about-container p small { text-align: left!important; display: block; }

.main-content.about-us .join { padding: 0!important; }

.main-content.mechanics {}
.main-content.mechanics .mechanics-container {
    background: url(../images/bg-mechanics.png) repeat;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 8px;
}
.main-content.mechanics .mechanics-container > .scrollable {
    position: relative;
    height: 600px;
    padding: 20px;
    line-height: 24px;
    
}
/*Split Counter*/
ol.start { counter-reset: mycounter; }
ol.start > li, ol.continue > li { list-style: none!important; }
ol.start > li:before, ol.continue > li:before { 
    content: counter(mycounter, lower-alpha) ". "; 
    counter-increment: mycounter;
    margin-left: -17px;
}
/* End:Split Counter */

.main-content.mechanics .mechanics-container h1 { margin: 10px 0; }
.main-content.mechanics .mechanics-container h6 { margin-top: 20px; }
.main-content.mechanics .mechanics-container h6:first-child { margin-top: 0; }
.main-content.mechanics .mechanics-container ol ol,
.main-content.mechanics .mechanics-container ol ol ul { margin-left: 10px; }
.main-content.mechanics .mechanics-container ol { padding-left: 35px; }
.main-content.mechanics .mechanics-container ul { padding-left: 15px; }
.main-content.mechanics .mechanics-container ol p { margin-bottom: 0; }
.main-content.mechanics .mechanics-container ol > li { list-style: lower-alpha; }
.main-content.mechanics .mechanics-container ol li li { list-style: lower-roman; }
.main-content.mechanics .mechanics-container ol li li li { list-style: disc; }
.main-content.mechanics .mechanics-container .decimal > li { list-style: decimal;}
.main-content.mechanics .mechanics-container .decimal > li > ol li { list-style: lower-roman;}


/*Footer*/
footer {
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 30px 0;
}
footer span {
    display: block;
    width: 180px;
    margin: auto;
    text-align: center;
}
footer a {
    text-indent: -999em;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
footer a.facebook {
    background: url(../images/ico-r-fb.gif);
    width: 64px;
    height: 64px;
}
footer a.youtube {
    background: url(../images/ico-r-yt.gif);
    width: 72px;
    height: 51px;
    margin-top: 7px;
}
footer p {
    margin: 10px 0 0 0;
    display: block;
    clear: both;
}



/*Media Queries*/

@media (min-width: 768px) and (max-width: 1030px) {
    .main-content.upload .userImage .tip {
        font-size: 14px;
        width: 15vw;
        }
    }
@media (min-width: 32px) and (max-width: 767px) {
    .main-content.upload .userImage .tip {
        top: 80px;
        right: -20px;
        font-size: 14px;
        width: 24vw;
        }
    }

@media (min-width: 768px) {
    .navbar.navbar-default .container { width: 100%; }
    input[type="submit"].btn-red {
        right: 25px;
    }
}
@media (max-width: 767px) {
    h1 { font-size: 36px; line-height: 36px; }
    h3 { font-size: 23px; }
    h6 { font-size: 14px; }
    .nav > li > a {
        margin: 0 auto;
        padding: 8px;
        font-size: 18px;
    }
    .main-content .userImage2 strong.userName {
        font-size: 24px;
    }
    .main-content.gallery .gallery-list .userImage2 strong.userName {
        font-size: 16px;
        line-height: 24px;
    }
    .main-content.mechanics .mechanics-container > ol {
        padding: 0;
        margin-bottom: 10px;
    }
}

@media (min-width: 1500px) {
    .main-content.upload .leftColumn { width: 440px; margin-right: 40px; }
}

@media (max-width: 992px) {
    .main-content.upload .leftColumn {
        margin-bottom: 40px;
    }
    .main-content.upload .hairColors li {
        min-height: 125px;
    }
    input[type="submit"].btn-red {
        right: 0px;
    }
    .main-content .container { width: 100%; }
}
@media (min-width: 1030px){
    .navbar {
        background: none;
        position: absolute;
        bottom: 20px;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
        }
}
@media (max-width: 1030px) {
    .navbar.navbar-default { border-radius: 0; }
    .main-content.upload .hairColors li { min-height: 145 }
}

/*
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
*/
